@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border:0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Caladea', serif;
}

body {
  background: rgba(62, 92, 65, 1);
}

::root{
  --color-light: rgba(212, 218, 210, 1);
  --color-primary-variant:rgba(62, 92, 65, 1);

  --bg-primary: rgba(82, 117, 85, 1);
  --yellow: rgba(227, 226, 176, 1);
  --light-yellow: rgba(249, 248, 212, 1);

}










.quotesRight{
  position: relative;
  align-self: flex-end;
  font-size:140px;

  z-index: 100;
  left: 60%;
  top: 90px;
  color: rgba(137, 156, 110, 1);
}
.quotesRight img {
  width: 100px;
}


@media only screen and (max-width: 920px) {

  .quotesRight{

    left: 60%;
    top: 90px;

  }
  .quotesRight img {
    width: 100px;
  }
  
}


@media only screen and (max-width: 640px) {

  .quotesRight{

    left: 60%;
    top: 90px;

  }
  .quotesRight img {
    width: 100px;
  }
  
}