.bannerContainer{
    z-index: 1;
    background-image: url(../../../public/banner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.bannerImage{
    
    width: 100%;
    height: 424px;
    background: rgba(0, 0, 0, 0.3);
    position:relative;
}
.bannerContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; 
    display: flex;
    flex-direction: column;
}
.bannerTitle{
    font-family: 'Nunito';
    font-style:normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color:white;
    text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.4);
    text-align: center;
}
.bannerSubtitle{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.4);
}
.bannerButtons{
    display: flex;
    flex-direction: row;
}
.bannerButtons button{
    width: 325px;
    height: 48px;
    border-radius: 8px;
    font-family: 'Caladea';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-transform: none;
    padding: 10px 32px;
    margin: 16px;
}
.bannerButtons > .bannerHabitaciones, .bannerButtons > .bannerHabitaciones:hover {
    color: #FFFFFF;
    border: 2px solid #E3E2B0;
}

.bannerButtons > .bannerReservar, .bannerButtons > .bannerReservar:hover {
    color: #000000;
    background-color: #E3E2B0;
}

@media only screen and (max-width: 920px) {
    .bannerTitle{
        font-size: 32px;
    }
    .bannerSubtitle{
        font-size: 22px;

    }
    .bannerButtons button{
        width: 250px;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 641px) {
    .bannerButtons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}